---
import { Image } from 'astro:assets';
import Robot from '../../assets/images/about/robot-flip.png';
import Arrow from '../../assets/images/about/arrow.svg';
import Logo from '../../assets/images/logo.svg';
---
<div id="about">
    <div class="about-container">
        <div class="about-left">
            <div>
                <p>&copy; 2024</p>
            </div>
            <div>
                <p>Querétaro</p>
            </div>
            <div>
                <p>Alma Nerd</p>
            </div>
        </div>
        <div class="about-content">
            <h2 id="aboutTitle">¿QUIENES SOMOS?</h2>
            <p class="about-text">Desde animaciones interactivas que bailan en la pantalla hasta experiencias de usuario
                fluidas que desafían las convenciones. Ya sea creando sitios web que narran historias inmersivas o inventando
                interfaces de comercio electrónico divertidas. Alma Nerd
                <Image src={Logo} class="logo" alt="Alma Nerd Logo" /> teje magia en cada píxel.
            </p>
            <p class="about-txt kaisen">Nuestra filosofia, Kaizen <span class="accent">[</span> 改善 <span
                    class="accent">]</span> se refiere a un sistema de mejora continua en el que las pequeñas, pero
                constantes mejoras, acumulan tras de sí grandes beneficios.</p>
            <div class="about-bottom">
                <div>
                    <p>00000000////</p>
                    <p>18:02:30 [watch] /src/components/sections/About.astro?astro&type=style&index=0&lang.css</p>
                    <p>18:02:30 [watch] /src/components/sections/About.astro?astro&type=style&index=0&lang.css</p>
                </div>
                <div>
                    <ul class="list">
                        <li class="about-txt">> Tenemos mas de 8 anios de experiencia</li>
                        <li class="about-txt">> Creando proyectos unicos desde el 2016</li>
                        <li class="about-txt">> Somos creativos, somos unicos, somos alma nerd</li>
                        <li class="about-txt">> .[]//FILE LOST npm run dev ...running</li>
                        <li class="about-txt">> keep scrolling
                            <Image src={Arrow} class="arrow" alt="Arrow pointing down" />
                            <Image src={Arrow} class="arrow" alt="Arrow pointing down" />
                            <Image src={Arrow} class="arrow" alt="Arrow pointing down" />
                            <Image src={Arrow} class="arrow" alt="Arrow pointing down" />
                            <Image src={Arrow} class="arrow" alt="Arrow pointing down" />
                            <Image src={Arrow} class="arrow" alt="Arrow pointing down" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-img">
            <Image src={Robot} class="robot" alt="Robot con pulgar arriba" />
        </div>
    </div>
</div>


<script>
    import gsap from "gsap";
    import {
        ScrollTrigger
    } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    gsap.to('.robot', {
        scrollTrigger: {
            trigger: '.robot',
            start: "0 center",
        },
        x: "-100px"
    })
</script>

<style>
    #about {
        border-bottom: 1px solid black;
    }

    .about-img {
        position: relative;
    }

    .about-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-bottom {
        font-size: 9px;
    }

    .logo {
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    .kaisen {
        max-width: 800px;
    }

    .arrow {
        width: 20px;
        height: auto;
        display: inline-block;
    }

    .about-txt {
        font-size: 20px;
    }

    ul {
        padding-left: 0;
        display: flex;
        margin-left: auto;
        float: right;
        flex-direction: column;
    }

    li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    .about-container {
        display: grid;
        grid-template-columns: 100px 1fr 400px;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: relative;
        overflow: hidden;
        min-height: 600px;
    }

    .smoke1 {
        position: absolute;
        right: -100px;
        top: 100px;
        transform: rotate(-90deg);
    }

    .robot {
        width: auto;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateX(100px);
        z-index: -1;
    }

    .about-left {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .about-left > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-left p {
        font-family: "satoshi";
        text-transform: uppercase;
        font-size: 30px;
        color: rgb(var(--accent));
    }

    .about-text {
        font-size: 50px;
        font-family: "satoshi";
        margin: 40px 0 80px 0;
    }

    .about-content {
        grid-area: 1 / 2 / 2 / 3;
        padding: 0px 50px;
    }

    .about-content h2 {
        font-family: "thunder";
        font-size: 6svw;
        color: rgb(var(--accent));
        line-height: 1;
        margin: 0;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        text-transform: uppercase;
        padding-top: 40px;
    }

    .about-left {
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;
    }

    .about-left p {
        writing-mode: vertical-rl;
    }

    
    
    @media only screen and (max-width: 1250px) {
        .about-text{
            font-size: 35px;
        }
    }

    @media only screen and (max-width: 1033px) {
        .about-container{
            grid-template-columns: 100px 1fr 200px;
        }

        .about-text{
            font-size: 30px;
        }

        .about-txt{
            font-size: 11px;
        }

        .about-left p{
            font-size: 20px;
        }
    }
    
    @media only screen and (max-width: 780px) {
        .about-container{
            grid-template-columns: 50px 1fr 150px;
        }

        .about-text{
            font-size: 25px;
        }

        .about-txt{
            font-size: 11px;
        }

        .about-left p{
            font-size: 20px;
        }

        #aboutTitle{
            font-size: 60px;
        }

        .about-content{
            padding: 0 25px;
        }
    }
    
    @media only screen and (max-width: 680px) {
        .about-text{
            font-size:22px;
            margin-bottom: 30px;
        }

        .about-left p{
            font-size: 14px;
            margin: 0;
        }

        .about-container{
            grid-template-columns: 40px 1fr 100px;
        }

        .about-bottom{
            display: flex;
            flex-direction: column;
        }

        .about-bottom ul{
            margin-left: initial;
            float: initial;
        }
    }
    
    @media only screen and (max-width: 580px) {
        .about-container{
            grid-template-columns: 40px 1fr;
            position: relative;
        }

        .about-img{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 200px;
            height: 300px;
            transform: translateX(200px);
            z-index: -1;
        }

        .robot{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
</style>