---
import { Image } from 'astro:assets';
import Paper from '../../assets/images/paper.svg';
import World from '../../assets/images/steps/world.svg';
import Dev from '../../assets/images/steps/dev.svg';
import Eye from '../../assets/images/steps/eye.svg';
import Money from '../../assets/images/steps/money.svg';
import Stats from '../../assets/images/steps/stats.svg';
import Video from '../../assets/images/steps/video.svg';
---

<Image src={Paper} class="paper" alt="Paper image" />
<div id="steps">
    <h2>Nuestro proceso<br id="br" />de trabajo</h2>
    <div class="steps-container">
        <div class="step">
            <div class="step-icons">
                <Image src={Money} class="world" alt="World icons" />
                <p>0001</p>
            </div>
            <div class="step-content">
                    <p class="step-title">Cotización</p>
                    <p class="step-desc">Se envía una cotización totalmente gratuita enlistando los requerimientos del proyecto.</p>
            </div>
            <div class="step-right"><span>^</span><span>^</span><span>^</span><span>^</span><span>^</span></div>
        </div>
        <div class="step">
            <div class="step-icons">
                <Image src={Dev} class="world" alt="World icons" />
                <p>0002</p>
            </div>
            <div class="step-content">
                    <p class="step-title">Desarrollo del proyecto</p>
                    <p class="step-desc"> Con actualizaciones semanales o mensuales para que usted pueda ver el avance con transparencia.</p>
            </div>
            <div class="step-right"><span>^</span><span>^</span><span>^</span><span>^</span><span>^</span></div>
        </div>
        <div class="step">
            <div class="step-icons">
                <Image src={World} class="world" alt="World icons" />
                <p>0003</p>
            </div>
            <div class="step-content">
                    <p class="step-title">Publicidad online</p>
                    <p class="step-desc"> Anuncios para que miles de usuarios en donde puedan ver y conocer su producto.</p>
            </div>
            <div class="step-right"><span>^</span><span>^</span><span>^</span><span>^</span><span>^</span></div>
        </div>
        <div class="step">
            <div class="step-icons">
                <Image src={Video} class="world" alt="World icons" />
                <p>0004</p>
            </div>
            <div class="step-content">
                    <p class="step-title">Creación de contenido</p>
                    <p class="step-desc">Redes sociales activas con posts y historias creativas.</p>
            </div>
            <div class="step-right"><span>^</span><span>^</span><span>^</span><span>^</span><span>^</span></div>
        </div>
        <div class="step">
            <div class="step-icons">
                <Image src={Stats} class="world" alt="World icons" />
                <p>0005</p>
            </div>
            <div class="step-content">
                    <p class="step-title">Analítica y Estadísticas</p>
                    <p class="step-desc"> Panel de control para que puedas ver los clicks y las visitas que tu producto web ha tenido.</p>
            </div>
            <div class="step-right"><span>^</span><span>^</span><span>^</span><span>^</span><span>^</span></div>
        </div>
        <div class="step">
            <div class="step-icons">
                <Image src={Eye} class="world" alt="World icons" />
                <p>0006</p>
            </div>
            <div class="step-content">
                    <p class="step-title">Atención al cliente</p>
                    <p class="step-desc"> Proporcionaremos un número de contacto para que puedas llamar en caso de dudas.</p>
            </div>
            <div class="step-right"><span>^</span><span>^</span><span>^</span><span>^</span><span>^</span></div>
        </div>
    </div>
</div>

<style lang="scss">
    #steps{
        background-color: white;
        position: relative;
    }

    .world{
        width: 40px;
        height: 40px;
    }

    #br{
        display: none;
    }

    h2{
        font-family: "satoshi";
        text-transform: uppercase;
        text-align: center;
        font-size: 5svw;
        line-height: 1;
        margin: 0;
        border-bottom: 1px solid black;
        padding: 20px 0;
    }

    .paper{
        width: 100%;
        transform: translateY(10px);
    }

    .steps-container{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        position: relative;
        z-index: 10;
        padding: 100px 30px;
    }

    .step{
        display: grid;
        grid-template-columns: 100px 1fr 40px;
        border: 3px solid black;
        background-color: white;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        width: 100%;
        
        &-icons{
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            p{
                color: white;
            }
        }

        &-content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px;
            column-gap: 50px;

            p{
                line-height: 1;
                margin: 0;
            }
        }

        &-title{
            font-family: "VT323", monospace;
            font-size: 50px;
            text-transform: uppercase;
        }

        &-right{
            background-color: black;
            display: flex;
            flex-direction: column;
            font-weight: 800;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            span{
                font-family: "Ubuntu Sans Mono", monospace;
                color: white;
                transform: rotate(180deg);
            }
        }
    }
    
    @media only screen and (max-width: 980px) {
        .step{
            grid-template-columns: 50px 1fr 40px;
        }
        .step-content{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .step-title{
            font-size: 30px;
            text-align: center;
        }

        .step-desc{
            font-size: 14px;
            line-height: 1.2 !important;
        }

        .steps-container{
            padding-top: 40px;
            padding-bottom: 10px;
        }

        h2{
            font-size: 40px;
            padding: 0 30px 0px 30px;
            border-bottom: 0;
        }

        #br{
            display: block;
        }
    }
</style>